.header h1 {
    color:deepskyblue;
    text-align: center;
    font-size: 80px;
    cursor: pointer;
}
.header {
    border-bottom: solid;
    border-color: darkorange;
    border-width: 15px;
    margin: 0px;
}

 #login {
     position: absolute;
     left: 1800px;
     top: 63px;
     color:deepskyblue;
     font-size: 30px;
     cursor: pointer
}



.signupform {
    float: left;
}

.loginform{
    float: right;
}


.signupform {
    float: left;
    display: block; 
    padding: 5px;
    margin: 125px;
    width: 25%;
    background-color: grey;
    text-align: center;
 }

 .loginform {
    float: right;
    display: block; 
    padding: 5px;
    margin: 125px;
    width: 25%;
    background-color: grey;
    text-align: center;
 }
