body{ 
    background: white;
    font-family: 'Cabin', sans-serif;
}

/* The header for all the pages */

.header h1 {
    color:#0074e1;
    text-align: center;
    font-size: 75px;
    cursor: pointer;
    font-family: 'Cabin', sans-serif;
    position: absolute;
    top:-7%;
}

.header {
    border-bottom: solid;
    border-color: #fd6a02;
    border-width: 15px;
    margin: 0px;
    width: 100%;
}
h1#header2  {
    color:#0074e1;
    text-align: center;
    font-size: 75px;
    cursor: pointer;
    font-family: 'Cabin', sans-serif;
    margin-left:37.5%;
    margin-right:40%;
    position: relative;
    margin-top:0px;
    margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: #3498DB;
  text-align: center;
}

@media screen and (max-width: 800px) {
    .left, .main, .right {
        width: 100%;
    }
}

.header3 {
    border-bottom: solid;
    border-color: #fd6a02;
    border-width: 15px;
    margin: 0px;
}

#login2 {
    position: absolute;
    left: 90%;
    top: 20px;
    color:#0074e1;
    font-size: 30px;
    cursor: pointer
}
/* ================================================ */

/* Buttons and Dropdown Menus */

.button {
    background-color: #0074e1;
    color: white;
    padding: 10px;
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
      width: 120px;
    border: none;
    border-radius: 16px;
    cursor:pointer;
    position: relative;
    top: -75px;
    left: 50%;
    margin-right:50%
    /* Dropdown Button */
  }

.button:hover, .dropbtn:focus {
  background-color: #2980B9;
/* Dropdown button on hover & focus */    
}

.dropdown {
  position: absolute;
  display: inline-block;
 /* The container <div> - needed to position the dropdown content */ 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  min-height: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  left: 70px;
  z-index:10;
  top: -55px;
  /* Dropdown Content (Hidden by Default) */
}

.dropdown-content a {
  color: black;
  padding: 25px 25px;
  text-decoration: none;
  display: block;
  font-size:  30px;
  /* Links inside the dropdown */
}

.dropdown-content a:hover {
  background-color: darkorange
  /* Change color of dropdown links on hover */
}

.show {
  display:block;
  /* Show the dropdown menu */
}

.button2 {
  background-color: #0074e1;
  color: white;
  padding: 10px;
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  width: 120px;
  border: none;
  border-radius: 16px;
  cursor:pointer;
  position: relative;
  right: 70px;
  z-index:10;
  top: -30px;
}

.button2:hover, .dropbtn:focus {
background-color: #2980B9;
/* Dropdown button on hover & focus */
}

.dropdown2 {
  position: absolute;
  display: inline-block;
  }
  
 .dropdown2-content {
  display: none;
  position: absolute;
  background-color: f1f1f1;
  min-width: 200px;
  min-height: 200px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    right: 70px;
    z-index:10;
    top: -30px;
  /* Dropdown Content (Hidden by Default) */  
  } 
 
 .dropdown2-content a {
  color: black;
  padding: 25px 25px;
  text-decoration: none;
  display: block;
  font-size:  30px;
   /* Links inside the dropdown */
  } 
  
  /* Change color of dropdown links on hover */
  .dropdown2-content a:hover {background-color: darkorange}
  
  /* Show the dropdown menu */
  .show2 {display:block;} 

/* ================================================ */
 /* ============================================== */
      /*Search for search result*/
#new {
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;
    /*width: 400px;*/
    height: 75px;
    /*width: 900px; */
    padding:10px;
    border: none;
    border-radius: 25px;
    outline: none;
    background-color: gainsboro;
    color: darkorange;
    margin-top: 15%;
    font-size:25px;
    float: left;
    margin: 0 1.5%;
    width: 63%;
}

.search-btn {
    height: 50px;
    background:#FF8C00;
    border: none;
    color:white;
    width: 15%;
    border-radius: 25%;
    margin-top: 60px;
   position:static;
    font-size: 25px;
    float: right;
    margin: 0
    top:30%;  
    
}


.search-btn:hover {
    background: #ffc107;
    cursor: pointer;
} 
 
/* ========================== */
 
/* Login Page */

 #login1 {
    position: relative;
    left: 85%;
    top: 1%;
    color:#0074e1;
    font-size: 30px;
    cursor: pointer
}

.signupform {
    float: left;
    display: block; 
    padding: 5px;
    margin: 125px;
    width: 25%;
    text-align: center;
 }

 .loginform {
    float: right;
    display: block; 
    padding: 5px;
    margin: 125px;
    width: 25%;
    text-align: center;
 }

 #topText {
   text-align: center;
   text-decoration: none;
   color:#0074e1;
   font-size:24px;
   font-family: 'Cabin', sans-serif;
 }

/* ================================================ */

/* Homepage */

#new {
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;
    /*width: 400px;*/
    height: 75px;
    /*width: 900px; */
    padding:10px;
    border: none;
    border-radius: 25px;
    outline: none;
    background-color: gainsboro;
    color: darkorange;
    margin-top: 50px;
    font-size:25px;
    float: left;
    margin: 0 1.5%;
    width: 63%;
}

.search-btn {
    height: 50px;
    background:#FF8C00;
    border: none;
    color:white;
    border-radius: 25px;
    margin-top: 60px;
   position:static;
    font-size: 25px;
    float: right;
    margin: 0 15%;
    top:-35px;
}

.search-btn:hover {
    background: #ffc107;
    cursor: pointer;
} 

/* ================================================ */

/* Search Results */

#container  {
 background: linear-gradient(to bottom, orange 50%, white 50%);

/* ================================================ */

/* Set up Mentee */

h4 {
    color:#424242;
   font-size:18px;
   font-family: 'Cabin', sans-serif;
}

h5 {
    color:#424242;
   font-size:14px;
   font-family: 'Cabin', sans-serif;
}

input {
  border-radius: 10px;
  width: 30%;
  padding:10px;
}
input#create{
  border-radius: 10px;
  width: 50%;
  padding:10px;
  text-align: center;
}

select.login {
  width:30%;
  height: 30px;
  background-color:#e6e6e6; 
}
/* ================================================ */

/* Testimonials */

}
#titlestatement{
	text-align: center;
	font-family: 'Cabin', sans-serif;
	color:#0074e1;
	margin:5px,0px,5px,0px;
}

#mission{
	display:block;
	padding:10px;
	width:50%;
	position: relative;
	background-color: white;
	margin:0px;
	margin-top:30px;
	left:25%;
	border-color:black;
	border-width: 3px;
	border-style: solid;
	border-radius: 40px;
	border-color:#0074e1;
	font-family: 'Red Hat Display', sans-serif;
	color: #3d3d3d;
	font-size: 24px;
	opacity: 0.7;
	text-align: center;
}
#testimonialbox{
	position: relative;
	top:50px;
	border-width: 3px;
	border-style: solid;
	border-radius: 40px;
	border-color:#0074e1;
	width: 50%;
	left:25%;
	padding:10px;
	margin-bottom: 20px;
	opacity: 0.7;
}
#testimonialtext{
	color: #3d3d3d;
	font-size: 24px;
	text-align: center;
	position: relative;
	font-family: 'Red Hat Display', sans-serif;
	vertical-align: center;
}
.animation{
	animation-name: testimonial;
	animation-duration: 1.2s;
	animation-play-state: running;
}
@keyframes testimonial{
	0% {left:0px; opacity: 1;}
	50%{left:100px; opacity: 0}
	100%{left:200px; opacity: 0}
}
.testimonialbutton{
	background-color: #a8a8a8;
    color: white;
    padding: 4px;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    width: 16%;
    height: 24px;
    border: none;
    border-radius: 16px;
    cursor:pointer;
    position: relative;
    transition-duration: 0.4s;
    margin-left: 42%;
    margin-right: 42%;
    top:10px;
}
.testimonialbutton:hover {
	background-color: #787878;
	transform: scale(1.1,1.1);
 }

/* ================================================ */

/* styling logout button
#btnLogout {
float: right;
color: black;
} */

/* Profile Page */

.account {
    display: inline-block;
    padding: 15px;
    height: 40%;
    width: 58%;
    margin-left: 1em;
    margin-right: 1em;
    background: white;
    border-color: #0074e1;
    border-width: 5px;
    border-style: solid;
    border-radius: 16px;
    font-size: 20px;
}
.interests {
  width: 30%;
  height: 30%;
  border-color: #0074e1;
  border-width: 5px;
  border-style: double;
  border-radius: 16px;
  position: relative;
  left: 35%;
  top: -40%;
}

#profile-name{
  font-display: bold;
  font-size: 30px;
  margin-bottom: -10px; 
  margin-top: 0px;
}
#AC{
    height: 110px;
    border-radius: 50%;
    margin-top: -20px;
}

.prf-name {
    margin: 0px;
}

.container {
    height: 900px;
    background: white;
    padding-top: 1%;
    text-align: center;
    
}
.page {
    vertical-align: top;
    height:90%;
    width: 16%;
    background: black;
    display: inline-block;
    background: white;
    border-color: #0074e1;
    border-width: 5px;
    border-style: solid;
    border-radius: 16px;
}
#calls {
    width: 300px;
    height: 100%;
    float: left;
    background: black;
    border-color: #0074e1;
    border-width: 5px;
    border-style: solid;
    border-radius: 16px;
}
#messages{
    float: right;
    height: 70%;
    width: 300px;
    position: fixed;
    top: 25%;
    bottom: 2%;
    right: 2%;
    background: white;
    border-color:#0074e1;
    border-width: 5px;
    border-style: solid;
    display: inline-block;
    border-radius: 16px;
}
.edit{
  margin-top: 0px;
  margin-left: 99%;
  margin-right: 5px;
  margin-bottom: 0px;
  background-color: #0074e1;
  color: white;
  padding: 9px;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  width: 40px;;
  border: none;
  border-radius: 16px;
  top: 0px;
  left: 0px;
  text-align: right;
  cursor:pointer;
}

/* The container <div> - needed to position the dropdown content */
.editdropdown {
  margin-left: 87%;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.edit-content {
  margin-left: 65%; 
  margin-top:16%;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  min-height: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 70px;
    z-index:10;
    top: -55px;
}

/* Links inside the dropdown */
.edit-content a {
  color: black;
  padding: 20px 20px;
  text-decoration: none;
  display: block;
  font-size:  28px;
}

/* Change color of dropdown links on hover */
.edit-content a:hover {background-color:#fd6a02}

/* Show the dropdown menu */
.show {display:block;}

.editipt {
  margin-left: 5px;
  color: #0074e1;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  width: 90%;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
}
.save {
  margin-bottom: 4px;
  margin-left: 5px;
  background-color: #0074e1;
  color: white;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
}

/* ================================================ */

/* About Page */

.title {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 0%;
  background: #fd6a02;
  border-width: 5px;
  border: #0074e1;
  font-family: 'Cabin', sans-serif;
}
.title h1{  
  font-size: 80px;
  color: white;
  animation: fadeInAnimation ease 4s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
  
  
}
@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
} 
.subtitle{
  text-align: center;
  padding-top: 3%;
  padding-bottom: 6%;
  margin-bottom: .5%;
  background: #0074e1;
  color: white;
}
.subtitle h1 {
  font-size: 38px;
  color: white;
  animation: fadeInAnimation ease 8s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
  padding: 0%;
  margin: 0%;
}
.founder{
  height: 100%;
  width: 18%;
  background: #f1f1f1;
  padding-top: 2%;
  padding-bottom: 6%; 
  color: black;
  display: inline-block;
  margin-top: 3%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 25px;
  animation: fadeInAnimation ease 10s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
  border-radius: 15px;
}

.pic{
    text-align: center;
    height: 100px;
    border-radius: 50%;

}
.info {
  padding-top: 7%;
  padding-bottom: 7%; 
  text-align: center;
  margin-top: 0px;
  
}
.info h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  animation: fadeInAnimation ease 8s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
}

