#titlestatement{
	text-align: center;
	font-family: 'Cabin', sans-serif;
	color:#0074e1;
	margin:5px,0px,5px,0px;
}

#mission{
	display:block;
	padding:10px;
	width:50%;
	position: relative;
	background-color: white;
	margin:0px;
	margin-top:30px;
	left:25%;
	border-color:black;
	border-width: 3px;
	border-style: solid;
	border-radius: 40px;
	font-family: 'Courgette', cursive;
	color: #3d3d3d;
	font-size: 24px;
}
#testimonialbox{
	position: relative;
	top:50px;
	border-width: 3px;
	border-style: solid;
	border-radius: 40px;
	width: 50%;
	left:25%;
	padding:10px;
	margin-bottom: 20px
}
#testimonialtext{
	color: #3d3d3d;
	font-size: 24px;
	text-align: center;
	position: relative;
	font-family: 'Courgette', cursive;
	vertical-align: center;
}
.animation{
	animation-name: testimonial;
	animation-duration: 1.2s;
	animation-play-state: running;
}
@keyframes testimonial{
	0% {left:0px; opacity: 1;}
	50%{left:100px; opacity: 0}
	100%{left:200px; opacity: 0}
}
.testimonialbutton{
	background-color: #a8a8a8;
    color: white;
    padding: 4px;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    width: 16%;
    height: 24px;
    border: none;
    border-radius: 16px;
    cursor:pointer;
    position: relative;
    transition-duration: 0.4s;
    margin-left: 42%;
    margin-right: 42%;
    top:10px;
}
.testimonialbutton:hover {
	background-color: #787878;
	transform: scale(1.1,1.1);
 }
.header h1 {
    color:#0074e1;
    text-align: center;
    font-size: 75px;
    cursor: pointer;
    font-family: 'Cabin', sans-serif;
    margin:10px;
}
.header {
    border-bottom: solid;
    border-color: #fd6a02;
    border-width: 15px;
    margin: 0px;
}

#login {
    position: absolute;
    left: 85%;
    top: 1%;
    color:#0074e1;
    font-size: 30px;
    cursor: pointer

}

/* Dropdown Button */
.button {
    background-color: #0074e1;
    color: white;
    padding: 10px;
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
      width: 120px;
    border: none;
    border-radius: 16px;
    cursor:pointer;
    position: relative;
    top: -85px;
    left: 50%;
  }

/* Dropdown Button */
.button {
    background-color: #0074e1;
    color: white;
    padding: 16px;
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
      width: 150px;
    border: none;
    border-radius: 16px;
    cursor:pointer;
    position: relative;
    top: -125px;
    left: 50%;
  }

  /* Dropdown button on hover & focus */
  .button:hover, .dropbtn:focus {
    background-color: #0074e1;
    border-radius: 16px;
      
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    min-height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      left: 70px;
      z-index:10;
      top: -55px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 25px 25px;
    text-decoration: none;
    display: block;
    font-size:  30px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color:#fd6a02}
  
  /* Show the dropdown menu */
  .show {display:block;}

body{
	background-color: white;
}
